.container{
    min-height: 100svh;
    min-width:100%;
    background-image: url(../../assets/images/background.jpg);
    display: grid;
    grid-template-rows: auto auto auto; /* Three rows */
    grid-template-columns: repeat(5, 1fr); /* Five columns */
    gap:10px;
}
.heading{
    color: white;
    text-align: center;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    grid-column: 3 / 3; /* Starts at column 1 and ends at column 3 */
    grid-row: 1 / 1; 
}

.watch{
    background-color: transparent;
    border: 1px sold purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10rem;
    font-family:Arial, Helvetica, sans-serif;
    grid-column: 3 / 4; /* Starts at column 1 and ends at column 3 */
    grid-row: 2 / 2; 

}

@media screen and (max-width: 480px) {
    .watch {
        font-size: 5rem;
    }
  }



.disk{
flex-basis: auto;
margin-left: 20px;
background-color: white;
color:black;
border-radius: 10px;
box-shadow: 10px black 0.3;

}

.buttons{
  
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin: auto;
    grid-column: 3 / 4;
    grid-row: 3 / 3; 
}

button{
    background-color: white;
    color: black;
    padding: 10px 25px;
    margin-left: 10px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: brown;
    color: white;
}

@media screen and (max-width: 320px) {
    .watch {
        font-size: 3.2rem;
    }
    button{
        padding: 2px 10px;
    }
  }